<% if @cart.line_items.find_by_product_id(@product).nil? %>
<%= button_to line_items_path(product2: "1", product_id: @product), remote: true, class: "cartBrand cartBrandRel" do %>
<i class="fa fa-cart-arrow-down fa-lg"></i>&nbspКупить	
<%end%>
 <% else %>
 <span class="inCart cartBrandRel2">Товар в корзине</span>
 <%end%>

