@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,400&subset=latin,cyrillic);

body {
	/*background-image: url(/bg.png);*/
	/*background-color: #ECE9E4 !important;*/
	font-size: 14px;
}

/* BEGIN Красивые input как в Twitter*/
textarea, input:not([type="submit"]){
	outline: none;
	padding: 5px;
	margin: 5px;
	border: 1px solid #DDDDDD;
	border-radius: 4px;	
}

textarea:focus, input:focus:not([type="submit"]){
	border-color:#56b4ef;
	box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);
	-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);
	webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
/* END Красивые input как в Twitter */

fieldset{
	margin:  0 0 0 10px;
	padding: 10px;
	border: 1px solid silver;
	border-radius: 4px;
}

legend{
	font-weight: bold;
}

/*Helpers BEGIN*/
.redField{
	color: red;
}

.clear{
	clear: both;	
}

.clearLink:hover{
	color: black;
	background: none  ;
	background-color:none ;
}

.newWrite{
	text-align: center;
}

.writeLink{
	font-size: 14px;
	background-color: #55C34A;
	color: white !important;
	margin: 5px 5px 5px 0;
	padding: 6px;
	border-radius: 5px;
	border:none;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
}


.writeLink:hover{
	background-color: #55C34A;
	opacity: 0.8;
	color: white;
}

.fixedStep{		
	position: relative;
	width: 100%;	
	margin: 0;
	height: 193px;	
}

/*Helpers END*/


/*BEGIN fixPanel*/
#fixPanel{	
	background-image: url(/bg.png);	
	position: fixed;
	width: 100%;	
	margin:auto;
	top: 0;
	left: 0;
	z-index: 999;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
}

/*END fixPanel*/





 h2 > .cartcolor {
	color: #0C9D0D; 
	margin-right:10px; 
}

.modalContent > h2{
	margin-bottom: 10px;
	text-align: center;
}



 /*Cart BEGIN*/
#showCart{
	position: relative;	
	width: 120px;	
	height: 120px;
	border-radius: 100%;
	text-align: center;
	-webkit-box-shadow: 2px 5px 36px 0px rgba(0,0,0,0.59);
	-moz-box-shadow: 2px 5px 36px 0px rgba(0,0,0,0.59);
	box-shadow: 2px 5px 36px 0px rgba(0,0,0,0.59);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}


#showCart > a{
	display: inline-block;
	color: #0C9D0D; 
}

#showCart > a:hover{
	background:none ;	
}

#showCart:hover {
	-webkit-box-shadow: 2px 2px 36px 0px rgba(0,140,0,0.66);
	-moz-box-shadow: 2px 2px 36px 0px rgba(0,140,0,0.66);
	box-shadow: 2px 2px 36px 0px rgba(0,140,0,0.66);
}

#showCart .trashCart2{
	position: absolute !important;
	width: 20px;
	height: 24px;
	color: black;	
	background-image: url(/trash-clous.png);
	-moz-background-color: transparent;
	background-color: transparent;
	padding: 0;
	cursor: pointer;
	bottom: 33px;
	left:13px;		
	border:none;	
}

	#showCart .trashCart2:hover{
		background-image: url(/trash-open.png);
		height: 28px;	
	}

.totalHide{
	position: absolute;
	color:red;	
	font-weight: bold;		
	top: 38px;
	left: 38px;	
	font-size: 17px;
}

#uah{
	font-size: 13px;
	color: #00AF00;
}

#countItem{	
	position: absolute;
	top: 16px;
	left: 30px;
	font-weight: bold;
	color: black;
}

.itogoHide{
	font-size: 12px;
	color:red;	
	font-weight: bold;
}

#itogoUah{
	font-size: 12px;
	color: #00AF00;
}
/*Cart END*/

/*footer BEGIN*/
.footer{	
	position: absolute;
	bottom: 0;
	width: 100%; 
	height: 200px;	
	background-color: black;
	text-align: center;	
}

.footerWall{
	position: relative;		
	width: 100%;		
	margin-bottom: 200px;	
	

}

.mainContent{
	outline: 1px solid red;
	position: absolute;
	width: 100%;
	min-height: 100%;
}

.footerLink{
	position: relative;	
	width: 1000px;
	margin: 10px auto;
	margin-top: 0;
	padding: 10px ;
	-moz-box-sizing: border-box; /* Для Firefox */ 
	box-sizing: border-box; /* Ширина блока с полями*/
	text-align: center;
}

.footer > .copyright{
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 0;	
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 15px;
	color: #fcfcfc;
}
.footerLink > ul{
	position: relative;
	display: inline-block;	
}

.footerLink > ul > li{
	float: left;
	margin-left: 10px;
}

.footerLink > ul > li > a{		
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 15px;
	color: #fcfcfc;
	line-height: 35px;	
}

.footerLink > ul > li > a:hover{
	text-decoration: underline;
}
/*footer END*/

/*boxes show link BEGIN*/
.LinkMenuCentr{	
	position: relative;
	display: block;
	width: 1000px;
	margin:0 auto;
	
}

.LinkMenuCentr a:hover{
	color: black;
	background: none;
	background-color:none;
}


	.LinkMenuCentr li{
	position: relative;
  display: inline-block;
  padding: 0;
  z-index: 1;
  margin: 0 0 5px 3px;
  height: 100px;
  width: 100px;
  overflow: hidden;
  border: 1px solid #EDEDED;
  border-radius: 5px;
  -webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
  }

.LinkMenuCentr li:hover{
-webkit-box-shadow: 3px 3px 10px 0px rgba(50, 50, 52, 0.56);
-moz-box-shadow:    3px 3px 10px 0px rgba(50, 50, 52, 0.56);
box-shadow:         3px 3px 10px 0px rgba(50, 50, 52, 0.56);
	z-index: 2;
 -webkit-transform: scale(1.1);
  transform: scale(1.1);

}
	.LinkMenuCentr li > .rightA{
		position: absolute;
		top:0;
		right: 3px;
		z-index: 2;
	}

	.LinkMenuCentr li > .leftA{
		position: absolute;
		top:0;
		left: 3px;
		z-index: 2;
	}

	.LinkMenuCentr li > .leftA, .LinkMenuCentr li > .rightA{
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	}

.LinkMenuCentr li > .leftA:hover, .LinkMenuCentr li > .rightA:hover{
	color:#CD891D;
}	

.divInLi{
	display: table-cell;
	height: 100px;
	width: 100px;
	vertical-align: middle;
	text-align: center;
}
/*boxes show link END*/

.EditImage{
	border: 1px solid #E3E3E3;
	border-radius: 5px; 
	vertical-align: middle;
}

/*navigation big image catalog rigt BEGIN*/
.navImage{
	display:table-cell;
	width: 200px;
	height: 280px;
	vertical-align: middle;
	text-align: center;
}

.floatNavImage{
position: relative;
margin: 10px 10px 10px 10px;
float: right;
width: 200px;
height: 280px;
background-color: white;
border-radius: 8px;
-webkit-box-shadow: -7px 7px 10px 0px rgba(50, 50, 50, 0.35);
-moz-box-shadow:    -7px 7px 10px 0px rgba(50, 50, 50, 0.35);
box-shadow:         -7px 7px 10px 0px rgba(50, 50, 50, 0.35);
overflow: hidden;
}
/*navigation big image catalog rigt END*/

/*navigation image link "edit", "delete" BEGIN*/
.navLeftA{
		position: absolute;
		top:2px;
		left: 6px;
		z-index: 2;
}

.navRightA{
	position: absolute;
	top:2px;
	right: 6px;
	z-index: 2;
}
/*navigation image link "edit", "delete" END*/

/*Catalog menu centr BEGIN*/
.LinkMenuCatalog{	
	position: relative;
	width: 1000px;
	margin: 0 auto;
}

.floatLinkCatalog{
	position: relative;
	display: inline-block;
	overflow: hidden;
  border: 1px solid #EDEDED;
  border-radius: 5px;
	width: 190px;
	height: 270px;
	text-align: center;
	margin: 0 3px 7px 0;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	}

	.floatLinkCatalog:hover{
	-webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.6);
	-moz-box-shadow:    0px 0px 20px 0px rgba(50, 50, 50, 0.6);
	box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 0.6);
	}

.LinkMenuCatalog li > .ctalogRightA{
	position: absolute;
	top: 0;
	right: 5px;
}

.LinkMenuCatalog li > .catalogLeftA{
	position: absolute;
	top: 0;
	left: 5px;
}

.LinkMenuCatalog li> a > img{
	max-height: 170px;
	border-radius: 5px;
}

.LinkMenuCatalog li{
	display: table-cell;
	width: 190px;
	height: 270px;
	vertical-align: middle;
}

.cartBrand{
	position: absolute;
	left: 10px;
	bottom: 0;
	color: white;
	background-color: #55C34A;
	cursor: pointer;
	margin: 5px 5px 5px 0;
	padding: 5px;
	border-radius: 3px;
	border:none;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
}

.cartBrand:hover{
	opacity: 0.8;
}

.inCart{
	position: absolute;
	left: 10px;
	bottom: 0;
	margin: 5px 5px 5px 0;
	padding: 5px 5px 5px 0;
	color:red;
	font-weight: bold;
}

.priceCatalog{
	position: absolute;
	right: 10px;
	bottom: 5px;
	padding: 5px;
	border-radius: 3px;
	background-color: #FFFAE0;
	font-size: 15px;
}
/*Catalog menu centr END*/

/*Edit product form BEGIN*/
.fields img{
	vertical-align: middle;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	padding: 3px;
}

.fields{
	margin-bottom: 10px;
}
/*Edit product form END*/

/*foto-galerea BEGIN*/
.fancybox-thumb:hover,.fancybox-nav:hover, .fancybox-next:hover{
	color: black;
	background: none  ;
	background-color:none ;
}

.fancybox-item:hover, .fancybox-close:hover{
	background-color:initial 
}
/*foto-galerea END*/

.zoomImage{
	margin:0 5px 0 0;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
}

.zoomImage:hover{
opacity: 0.7;
}

/*open Cart BEGIN*/
.cartIcon{
	height: 50px;
	vertical-align: middle;
	margin: 5px 5px 5px 5px;
}

.cartLinkBlock{
	border-bottom: 1px solid silver;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
}

.cartLinkBlock:hover{
	background-color: #FFFCED;
}
/*open Cart END*/

/*Comments BEGIN*/
.commentField{
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
	width: 200px;
}

.commentArea{
		-moz-box-sizing: border-box; 
	box-sizing: border-box; 
	width: 400px;
	height: 100px
}

.commentTitle{
	position: relative;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	border-radius: 5px;
	background-color: #FFFAE0;
	margin: 0 0 0 10px;
	font-size: 14px;
}

.commentForm{
	position: relative;	
	width: 700px;
	margin: 0 auto;
	padding-bottom: 10px;
	font-family: 'Roboto Condensed', sans-serif;	
}

.commentArea{
	height: 150px;
	width: 700px;
}

.commentField{
	width: 300px;
}

.commentForm button{
	color: white;
	background-color: #55C34A;
	cursor: pointer;
	margin: 5px 5px 5px 0;
	padding: 8px;
	border-radius: 5px;
	border:none;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
}

.commentForm button:hover{
	opacity: 0.8;
}

.commentShow{
	position: relative;
	margin: 0 0 10px 10px;
	padding: 10px;
	border-radius: 5px;
	-moz-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.506);
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.506);
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.506);
}

.commentShow > a[data-method="delete"], .commentDoubleShow > a[data-method="delete"]{
	position: absolute;
	top:0;
	right: 0;
}

.commentShow > p{
	padding: 0 0 8px 0;
}

.commentDoubleShow{
	position: relative;
	background-color: #FFFCF3;
	margin: 0 0 10px 80px;
	padding: 10px;
	border-radius: 5px;
	-moz-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.506);
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.506);
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.506);
}


.commentHide{
	margin-top: 5px;
	color: #0094DE;
	cursor: pointer;
}
/*Comments END*/

/*Sliders BEGIN*/
.sliderNew{
	position: relative;
}

.sliderNew > li{
	position: relative;
	display: inline-block;
	text-align: center;
	margin-bottom: 10px;
}

.imageInput{
	margin: 8px 0 6px 0;
}

.sliderNew > li > .leftA{
	position: absolute;
	top:2px;
	left: 6px;
	z-index: 2;
}

.sliderNew > li > .rigtA{
	position: absolute;
	top:2px;
	right: 6px;
	z-index: 2;
}

.sliderForm button{
  color: white;
  background-color: #55C34A;
  cursor: pointer;
  margin: 5px 5px 5px 0;
  padding: 5px;
  border-radius: 5px;
  border:none;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}
      
.sliderForm button i{
  font-size: 15px;
} 
     
.sliderForm button:hover{
  opacity: 0.8;
} 
/*Sliders END*/

/*Paginate BEGIN*/
.pagination{
	margin-top: 10px;
	text-align: center;
	font-size: 15px;
}

.pagination > .previous_page, .pagination > .next_page{
	border: 1px solid #DBDBDB;
	border-radius: 5px;
	padding: 5px 10px;
}

.pagination > .current{
	border: 1px solid #DBDBDB;
	border-radius: 5px;
	background-color: #FFFAE0;
	padding: 5px 10px;
}

.pagination a{
	border: 1px solid #DBDBDB;
	border-radius: 5px;
	padding: 5px 10px;
}

.pagination a:hover{
	color: black;
	background: none;
	border-color: #A9A9A9;
}
/*Paginate END*/

/*headerProduct BEGIN*/
#divImgPr{
float: left;
margin-right: 10px;
width: 250px;
text-align: center;
}

#divImgPr img{	
	display: inline-block;
}

.headerProduct > span{	
	position: absolute;
	width: 86px;
	text-align: center;
	bottom: 10px;
	left: 255px;
	padding: 7px;
	font-size: 22px;	
	background-color: #FFF6CA;
	border-radius: 5px;
}

.cartBrandRel{
	position: absolute;
	width: 100px;
	bottom: 40px;	
	left: 255px;
	font-size: 16px;
	padding-top: 8px;
	padding-bottom: 8px;	
}

.cartBrandRel2{
	font-size: 14px !important;
	font-weight: bold;
	position: absolute;
	bottom: 40px;	
	left: 255px;
	font-size: 16px;
	padding-top: 8px;
	padding-bottom: 8px;	
}
/*headerProduct END*/

.outAdmin{
	position: absolute;	
	display: block;
	width: 60px;
	top:15px;
	left: 10px;
	color: #F4F5F9 !important;
	background-color: #FF0000;
	padding: 3px 5px 3px 5px;
	border-radius: 4px;		
}

.outAdmin:hover{
	background-color: #FF0000 !important;
	opacity: 0.7;
}

/*BEGIN form number cart*/
.edit_line_item{
	display: inline-block;
	position: absolute;
	right: 50px;
	margin-top:15px;
	width: 47px;
	padding: 0;
}

#line_item_quantity{
	height: 30px;
	width: 35px;
	padding: 0;
	padding-left: 10px;
	text-align: center;
	margin: 0;
}

/*END form number cart*/

.trashCart{
	position: absolute;
	right: 25px;
	margin-top:20px;
	font-size: 20px;
}

.itogo{
	display: inline-block;
	border:1px solid #DDDDDD;
	margin-top: 10px;	
	padding: 5px;
	text-align: center;
	border-radius: 3px;
	background-color: #FFFAE0;
}

/*BEGIN panel2*/
.panel2{			
	position: relative;
	width: 1000px;
	margin:0 auto;
	text-align: center;
	font-weight: bold;
}

.panel2 li{	
	display: inline-block;		
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color:transparent;
	margin: 20px 0;
	margin-right: 20px;
	opacity: 0.8;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

.panel2 li:hover{
	opacity: 1;
	border-bottom-color: #31B9FE;
}

.panel2 li:hover a{
	color:black;
}

.panel2 li a{	
	position: relative;
	display: block;
	padding-bottom: 5px;
}

.panel2-mini{
	box-shadow: 3px 12px 18px -9px rgba(0,0,0,0.4);
}

.panel2-mini + #wrapSlick{
	background-image: none;
}

.panel2-mini #mainmenu{
	margin-bottom: 5px;
}

.panel2-mini #showCart img, .panel2-mini #showCart{
	height: 60px;
	width: 60px;	
}

.panel2-mini #showCart .trashCart2{
background-image: none;
font-size: 11px;
color: #555555;
}

.panel2-mini #showCart .trashCart2:hover{
	height: 24px;
	color:red;
}

.panel2-mini #showCart .trashCart2::after{
	position: absolute;
	top: 5px;
	left: 0;
	content: 'Удалить'	
}

.panel2-mini #showCart .totalHide{
	font-size: 14px;
	margin-top: -15px;
	margin-left: -93px;
}

.panel2-mini .panel2 li{
	margin: 0 20px 0 0;
}

.panel2-mini .panel2 li a{
	padding-bottom: 0;
}
.panel2-mini .panel2 li a > img{
	height: 37px;
}

.panel2-mini .hideTxt{
	display: none;
}

#cart{
	position: absolute;
	top:0;
	right: 0;
}
/*END panel2*/

/*BEGIN settingPanel*/
.settingWrap ul li{
	border: none;
}

.settingWrap{		
	position: absolute;
	top: 7px;
	left: 90px;
}

.settingWrap:hover .menuTitle{
	color:#75FF66;	
}
.settingPanel a{
	display: block;
	width: 100px;
	background-color: #372F2B;
	color: #fff;
	padding:10px 20px 10px 10px;
	border: 1px solid #4b4441;
	transition:0.5s all;
}

.settingPanel a:hover{
	background-color: #666;
	padding: 10px 10px 10px 20px;
}

.menuList{	
	position: relative;
	
}

.menuList > a i{	
	margin: 0 10px;
}

.menuList > a{
	border-radius: 5px;
	
	transition:none;	
}

.menuList:hover > a:first-child{
	border-radius: 5px 5px  0 0;	
}

.menuList:hover > ul li:last-child > a{
	border-radius: 0 0 5px 5px;	
	transition:0.5s padding;
}

.settingPanel .menuTitle:hover{
	padding:10px 20px 10px 10px;
}

.menuDrop{		
	position: absolute;
	width: 100%;
	display: none;
}

.menuDrop li a:visited{
	color:white;
}

.menuList:hover .menuDrop{
display: block;
}

.menuList::after{
	content: " ";
	position: absolute;
	border:5px solid;
	border-color: white transparent transparent transparent;
	bottom: 0;
	left: 48%;
	transition:0.5s;
}

.menuList:hover::after{
	bottom: 2px;
	transform:scaleY(-1);
}

.admnHide{
	position: relative;	
	float: left;
	height: 54px;
	width: 230px;
	z-index: 9999;
}

@media screen and (max-width: 1400px) {
	.admnHide{
		position: absolute;
		background-color: #F1F1F1;
		border: 1px solid #F1F1F1;
		border-radius: 5px;
		top: 100px;
		left: 200px;
	}
	.panel2-mini .admnHide{
	top: 60px;	
}
}

@media screen and (max-width: 1300px) {
	.admnHide{
		left: 150px;
	}
}

@media screen and (max-width: 1200px) {
	.admnHide{
		left: 100px;
	}
}

@media screen and (max-width: 1100px) {
	.admnHide{
		left: 50px;
	}
}

@media screen and (max-width: 1000px) {
	.admnHide{
		left: 10px;		
	}
}


/*END settingPanel*/

/*BEGIN Filtr*/
#product_search{	
	position: relative;
	text-align: center;
	margin:0 auto 10px auto;	
	
	width: 1000px;

}

#product_search label{	
	display: inline;
	margin: 10px;
}

#product_search label:hover{	
	text-decoration: underline;
}
/*END Filtr*/

/*BEGIN randomPrpduct"randomP"*/
.randomP > .floatLinkCatalog{
	height: 210px;
margin-left: 40px;
}

.randomP > .floatLinkCatalog li{
	height: 210px;		
}

.randomP, .commWrap, .ComBodyWrap, .setSitePage{
	position: relative;
	width: 1000px;
	margin: 0 auto;
}

.beginProduct{	
	position: relative;
	width: 1000px;
	margin: 0 auto;	
}

.descProdctWrap{
	position: relative;
	width: 100%;
	background-color: #FFFDF7;
	margin: 15px 0;
}

.descProdct{
	position: relative;
	width: 1000px;
	margin: 0 auto	
}

.commFormWrap{	
	position: relative;
	width: 100%;
	padding-top: 1px;
	margin-top:15px;	
}
/*END randomPrpduct"randomP"*/

.cartEmpty {
    text-align: center;
    color: #329A1C;
    margin-top: 30%;
    font-size: 20px;
}