<div class="itogo">
	<strong>Итого: </strong><span class="itogoHide" ><%= sprintf("%d", @cart.total_price * @course.to_i).gsub(/(\d)(?=\d{3}+$)/, '\1 ') %><span id="itogoUah"> грн</span></span>
</div>